.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.kotak:first-child{
    border: 1px solid white;
    background-color: yellow;
    height: 100px;

}

.kotak {
    border: 1px solid white;
    background-color: blue;
    height: 100px;
}

.kotak-2 {
    border: 1px solid white;
    background-color: red;
    height: 50px;
    width: 50px;
}

.button {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    margin: 22px;
    border: 6px;
    font-size: 20px;
    text-align: center;
}

.button:hover {
    background-color: red;
}

.button:active {
    background-color: green;
}
.button:focus {
    background-color: yellow;
}