h2 {
    color: goldenrod;
    background-color: black;
}

.title-text {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
}

#title {
    color: red;
}

.button {
    color: white;
    background-color: blue;
    padding: 10px 20px;
    margin: 22px;
    border: 6px;
    font-size: 20px;
    text-align: center;
}
